@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 21px;
    text-transform: uppercase;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    font-size: 18px;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    font-size: 18px;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    line-height: 21px;
    font-size: 18px;
    font-display: swap;
}

html {
    height: 100%; 
}
li {
    list-style-type: none;
}

.visualy-hidden {
    visibility: hidden;
}

h1 {
    display: none;
}
body {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Raleway, serif;
}
.page-header {
    margin: 0 auto;
    background-color: #FFE17F;
    width: 1160px;
    color: black;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    padding-bottom: 100px;
}
.navigation-user-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navigation-user-menu-right {
    display: flex;
    justify-content: flex-end;
}

.user-navigation-item {
    margin-right: 120px;
}

.user-navigation-item > a {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.navigation-link-header {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.navigation-link-header-right {
    display: flex;
    justify-content: flex-end;
    margin-left: 190px;
}

.navigation-item {
    margin-right: 120px;
}
.menu {
    padding: 0;
    display: flex;
}
.main-container {
    flex-grow: 1;
    width: 1160px;
    margin: 0 auto;
    margin-top: -80px
}
.slider {
    display: flex;
    grid-template-columns: repeat(12,60px);
    min-height: 506px;
    grid-template-rows: min-content min-content 40px 103px;
    column-gap: 40px;
    row-gap: 25px;
}

.slider-description-kvadro {
   display: grid;
   grid-template-columns: 140px 140px 140px 140px ;
   grid-template-rows: 110px 80px 30px 80px;
   gap: 20px;
}

.slider-description-bracelets {
   display: grid;
   grid-template-columns: 140px 140px 140px 140px ;
   grid-template-rows: 110px 80px 30px 80px;
   gap: 20px;
}

.slider-description-monopodes {
   display: grid;
   grid-template-columns: 140px 140px 140px 140px ;
   grid-template-rows: 110px 80px 30px 80px;
   gap: 20px;
}

.slider-description-text {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    font-family: "Rubik";
    width: 400;
    line-height: 30px;
    font-size: 18px;
    font-style: normal;
}

.slider-description-title {
    grid-column: 1 / -1;
    grid-row: 1 /1 ;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 0;
}

.kvadro {
    grid-column: 1 / 3;
    grid-row: 3 /4;
}

.bracelets {
    grid-column: 1 / 3;
    grid-row: 3 /4;
}

.monopodes {
    grid-column: 1 / 3;
    grid-row: 3 /4;
}

.slider-pagination {
    grid-column: 4 /4;
    grid-row: 3 /4;
}
.slider-pagination-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.advantages-1 {
    grid-column: 1;
    grid-row: 4;
}

.advantages-2 {
    grid-column: 2;
    grid-row: 4;
}

.advantages-3 {
    grid-column: 3;
    grid-row: 4;
}

.categories-section {
    margin-bottom: 60px;
    margin-top: 30px;
}
.categories {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.categories-item {
    width: 160px;
}
    

.categories-item-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}
.categories-item-image {
    background-color: #FFE17F;
}

.services {
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
}

.services-items {
    flex-basis:650px;
}

.services-link {
    color: black;
    text-decoration: none;
}

.delivery-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color:  #F0F0F0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.about-company {
    display: grid;
    grid-template-columns: 560px 560px;
    grid-template-rows: 70px 90px 130px 100px 40px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.about-us {
  
}

.button-about-us {
    margin-top: 60px;
}


.contacts {
    
}

.contacts-phone {
    color: black;
}

.contacts-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
}

.text-about-company {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.e-mailing-section {
    display: grid;
    grid-template-columns: 560px 260px 240px;
    grid-template-rows: 130px 50px;
    gap: 10px;
    padding-bottom: 50px;
    background-color: #F0F0F0;
}

.e-mailing {
   
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    margin-left: 20px;
}

.e-mailing-text {
    width: 560px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.e-mailing-form {
    grid-row: 2;
}

.e-mailing-button {
    grid-column: 2;
} 

.e-mailing-free {
    grid-column: 3
}


/* Каталог*/


.page-header-catalog {
    margin: 0 auto;
    background-color: #FFE17F;
    width: 1160px;
    color: black;
    font-family: Raleway, sans-serif;
    text-decoration: none;
}
.main-inner {
    margin: 0 auto;
}
.catalog-products {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    
}

.breadcrumbs {
    display: flex;
    padding: 0 30px;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 30px;
}

.product-card-link {
    margin-right: 40px;
}

.catalog-products-filter {
    display: flex;
    flex-direction: column;
    width: 400px;
    
}

.catalog-filter-group {
    margin-bottom: 30px;
    margin-right: 50px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pagination-show-more {
    margin-left: 400px;
    margin-top: 40px;
}

/*футер*/

a.navigation-link-footer {
    color: white;
    text-decoration: none;
}

.page-footer {
    display: flex;
    background-color: #444444;
    color: white;
    flex-wrap: wrap;
    width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}

.navigation-item {
    margin-right: 30px;
}

.menu-items {
    margin-top: 50px;
}

.logo-image-footer {
    margin-left: 50px;
}

.contacts-address-text {
    margin-right: 110px;
    margin-left: 50px;
}

.contacts-phone-footer {
    margin-top: 70px;
    margin-left: 60px;
    color: white; 
    text-decoration: none;
}

.footer-social-group {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.htmlacademy-link {
    color: #FFC700;
    text-decoration: none;
}

.about-text {
    margin-left: 850px;
}